@model IEnumerable<HarvestHub.WebApp.Models.Crop>

@*<h2>My Crops</h2>
<a asp-action="Create">Add New Crop</a>

@foreach (var crop in Model)
{
    <div>
        <h3>@crop.Name (@crop.Category)</h3>
        <p>@crop.Description</p>
        <p>Price: Rs. @crop.PricePerKg per Kg</p>
        <p>Quantity: @crop.QuantityInKg Kg</p>
    </div>
}*@
